@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: "Geologica", sans-serif;
}

body{
    background-color: #0a0806;
    color:#f2e9de;
    font-size:23px;
}

.container,
.hero-container,
.title-container,
.apps-container,
.contact-container{
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.hero-content,
.footer-content{
    display:flex;
    padding-block:10px;
}

nav{
    display:flex;
    align-items: center;
    padding:20px;
}

.links-container{
    display:flex;
    align-items: center;
    gap:20px;
}

#sidebar-active{
    display: none;
  }
  .open-sidebar-button, .close-sidebar-button{
    display: none;
  }

nav svg{
    fill: white;
}

ul{
    list-style-type: none;
    align-items: center;
    gap:20px;
}

a{
    text-decoration: none;
    color:#f2e9de;
}

.header-logo{
    font-size:1.7em;
    margin-right:auto;
    padding:10px;
}

a:hover{
    color:#ff8c00;
}

.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./img/welcome.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-container{
    display:flex;
    align-items: flex-end;
    justify-content: center;
    height:800px;
    max-width:1200px;

}

.hero-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size:1em;
}

.hero-content{
    padding-block:20px;
}

.hero-title{
    font-size:2.6em;
    margin-bottom:30px;
    font-weight:900px;
    text-shadow: 2px 2px 8px black;
    text-align: center;
}

.paragraph{
    margin-bottom:20px;
    text-shadow: 2px 2px 8px black;
    text-align: center;
}

button{
    background-color:#ff8c00;
    color:black;
    font-weight:500;
    padding-block:17px;
    padding-inline:30px;
    border-radius: 7px;
    border-style: none;
    font-size:1em;
    cursor:pointer;
}

.services-content{
    display:flex;
    flex-direction: column;
    padding-block:70px;
}

.content{
    display:flex;
    padding-top:50px;
    gap:60px;
    
}

.content-title{
    align-self: center;
    font-size:1.7em;
}

.para{
    display:flex;
    flex-direction: column;
    justify-content: center; 
}

.footer{
    background-color: #130f0b;
}

.footer-content{
    justify-content: space-between;
    padding-block:70px;
}

li.footer-link{
    font-size:0.8em;
    padding-block:5px;
}

.footer-logo{
    font-size:1.7em
}

li.footer-link-title{
    margin-bottom:30px;
    font-size:1.1em;
    font-weight:500;
}

.title{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.title-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height:200px;
    max-width:1200px;
}

.title-text{
    font-size:2.5em;
    font-weight:600;
    text-shadow: 2px 2px 8px black;
}

.apps-content{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap:60px;
    padding-block:70px;
}

.app-desc{
    font-size:20px;
    padding-block:20px;
}

.app-box{
    text-align: center;
    background-color: #202121;
    padding-block:50px;
    padding-inline:30px;
    border-radius: 7px;
    max-width:350px;
}

.app-link{
    font-size: 17px;
    color:#ff8c00;
}

.contact-content{
    display:flex;
    justify-content: space-between;
    padding-block:70px;
    gap:70px;
}

.contact-information{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.phone-numbers-title,
.email-title,
.address-title{
    padding-bottom:10px;
}

.info{
    font-size:0.9em;
    font-weight:200;
    padding-bottom:10px;
}

.submit-button{
    background-color: #ff8c00;
    font-size:23px;
    padding-block:10px;
    padding-inline: 10px;
    border-style: none;
    border-radius:7px;
}

.contact-form-content,
.fname-content,
.email-content,
.message-content{
    display:flex;
    flex-direction: column;
}

.full-name{
    display:flex;
    flex:1;
    gap:40px;
    
}

.input-field{
    border-radius: 7px;
    border-style:none;
    background-color: #f2e9de;
    width:100%;
    padding-inline:30px;
    height:40px;
    font-size:18px;
}

.message-box{
    height:100px;
    padding-block:10px;
    margin-bottom:30px;
}

.contact-form-content{
    background-color: #202121;
    padding:30px;
    border-radius: 7px;
    gap:20px;
    height:100%;
}

.form-item-title{
    margin-bottom:10px;
}

.info-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    background-color: #202121;
    padding-block:25px;
    padding-inline:40px;
    border-radius: 7px;
}

form{
    height:100%;
}

iframe{
    width:100%;
    height:500px;
    border:0;
    border-radius:7px;
}

.map-content{
    padding-bottom:70px;
}

@media screen and (max-width: 900px){
    
    body{
        font-size:19px;
    }

    .links-container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 100%;
        height:100%;
        background-color: black;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.50s ease-out;
        gap:5px;
        padding:20px;
    }

    nav a.nav-link{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
        text-align: center;
        font-size:23px;
    }

    .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
    }

    .close-sidebar-button{
        margin-left:auto;
    }

    #sidebar-active:checked ~ .links-container{
        right: 0;
    }

    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    nav{
        align-items: center;
    }

    .top{
        display:flex;
        width:100%;
        align-items: center;
    }

    li.header-logo{

        margin:0;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

    .img{
        width:200px;
        height:200px;
    }

    .hero-container{
        align-items: center;
        height:500px;
    }

    .para{
        padding-inline:20px;
    }

    .footer-content{
        flex-direction: column;
        padding-inline:20px;
    }
    
    .footer-logo{
        font-size:35px;
        margin-bottom:20px;
    }
    
    .footer-links{
        margin-bottom:20px;
    }
    
    li.footer-link-title{
        margin-bottom:10px;
        font-size: 25px;
    }

    .contact-container{
        max-width:600px;
    }
    
    .contact-content{
        flex-wrap: wrap-reverse;
        margin-inline:20px;
        justify-content: center;
    }

    .contact-form{
        width:100%;
    }

    .full-name{
        flex-direction: column;
        gap:20px;
    }

    .contact-information{
        text-align: center;
        width:100%;
    }

    iframe{
        height:400px;
    }

    .map-content{
        margin-inline:20px;
    }    

}